<% @styles.each do |style| %>
  <div class="chip style-link amber darken-2 gray-text text-darken-4">
    <%= link_to style.short_name, beers_path(q: { style_original_id_eq: style.original_id }) %>
  </div>
<% end %>
