<span class="chip amber darken-2 gray-text text-darken-4">
  <%= image_tag("flags/#{beer.breweries.first["locations"].first["country"]["iso_code"].downcase}.png") %>
  <%= beer.breweries.first["locations"].first["country"]["display_name"] %>
</span>
<span class="chip amber darken-2 gray-text text-darken-4">
  <%= image_tag beer.breweries.first["images"]["icon"] %>
  <%= beer.breweries.first["name"] %>
</span>