<div class="col s12">
  <div class="card grey darken-4">
    <div class="card-content">
      <span class="card-title grey-text text-darken-1">
        <%= t(".food_pairings") %>
      </span>
      <span class="white-text">
        <%= beer.food_pairings %>
      </span>
    </div>
  </div>
</div>
