.beer-title {
  margin-left: 20px;
}

.beer-number {
  font-size: 1.8em;
  font-weight: 200;
  line-height: 1.2em;
  margin-left: 10px;
}

.beer-description {
  font-size: 1.2em;
  font-weight: 300;
}

.beer-list {
  .card-title {
    font-size: 18px;
  }
}