// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
 .filters {
  margin-top: 20px;
}

.filter-label {
  margin-top: 10px;
}

#styles {
  margin-top: 20px;
}
