<nav class="main-bar" role="navigation">
  <div class="nav-wrapper container">
    <%= link_to t("application.title"), root_path, id: "logo-container", class: "brand-logo yellow-text" %>

    <ul id="nav-mobile" class="side-nav">
      <li></li>
    </ul>
    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
  </div>
</nav>
